[user]
    email = afonso@francof.net
    name = afonso
    signingkey = ~/.ssh/touch_key
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = ~/.gitconfig-gh
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/**"]
    path = ~/.gitconfig-gh
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[core]
    autocrlf = input
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[commit]
    gpgsign = true
[gpg]
    format = ssh
[tag]
    gpgsign = true
[pull]
    rebase = true
[init]
    defaultBranch = main
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
