[user]
    email = afonso@francof.net
    name = afranco
    signingkey = ~/.ssh/signing_key
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[core]
    autocrlf = input
    pager = delta --features git
	excludesFile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[commit]
    gpgsign = true
[gpg]
    format = ssh
[tag]
    gpgsign = true
[pull]
    rebase = false
[init]
    defaultBranch = main
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[delta]
    dark = true
    line-numbers = true
    hyperlinks = true
    hyperlinks-file-link-format = "lazygit-edit://{path}:{line}"
    true-color = always
[delta "git"]
    pager = less
    paging = always
[delta "lazygit"]
    features = diff-so-fancy
    hunk-header-style = omit
    paging = never
