[user]
 email = me@afonsofrancof.com
 name = afonsofrancof
 signingkey = ~/.ssh/id_ed25519_sk.pub
[filter "lfs"]
 process = git-lfs filter-process
 required = true
 clean = git-lfs clean -- %f
 smudge = git-lfs smudge -- %f
[core]
 autocrlf = input
[commit]
 gpgsign = true
[gpg]
 format = ssh
[tag]
 gpgsign = true
[pull]
	rebase = false
